<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.springboot.mapper.NoticeMapper">
	
	<!-- 统计查询 -->
	<select id="count" resultType="long">
		select count(id) from notice
	</select>
	
	<!-- 分页查询 -->
	<select id="findByPage" resultType="Notice">
		select * from notice limit #{a},#{b}
	</select>
</mapper>